<!doctype html>
<html ng-app="testApp">
	<head>
		<title>Palindrome test</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="index.js"></script>
	</head>

	<body>
		<br><br>
		This is just to check if angular has loaded (it should display "6" instead of "3+3"): {{3  + 3}}
		<br><br>


		<br><br>
		<div ng-controller='palindrome'>
		   Type the word here:<input type='text' ng-model='word'>
		   <br>
		   <button ng-click="checkWord()">Check if palindrome</button>

		   <br><br><br>
		   {{result}}
		</div>
	</body>
</html>